@charset "utf-8";
@font-face {
    font-family: "Opensans";
    src: url('./font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf')format('ttf');
    src: url('./font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf')format('ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color: #44318D;
}

.logo{
    width: 100px;
    float: left;
    display: inline;
    margin-top: 5px;

}

/* navbar */
nav{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: hsl(266, 39%, 17%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}


.navbar>ul{
    list-style-type: none;
    background-color: hsl(266, 39%, 17%);
    padding: 0;
    margin: 0;
    float: left;
}

.list li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: left;
    font-size: 0.9em;
    font-family: Opensans, Verdana, Geneva, Tahoma, sans-serif;
}

.list>li>a:hover{
    background-color: hsl(266, 20%, 10%);

}

.navbar>ul>li{
    float: left;
    
}


/* dropdown */
.navbar .dropdown{
    display: block;
    width: 150px;
    background: hsl(266, 39%, 17%);
    position: absolute;
    z-index: 999;
    display: none;

}

.navbar .dropdown li{
    border-top: 1px solid rgba(169, 165, 165, 0.9);
}

.navbar .dropdown li a{
    text-align: left;
}

.list li:hover .dropdown{
    display:block;
}

/* login sigup */
.navbar button{
    float:right;
    background-color: hsl(332, 66%, 55%);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px

}
.navbar button:hover{
    background-color: hsl(332, 80%, 60%);
}

.navbar button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}


p{
    padding-top: 70px;
}

#menu-bar{
    display:none
}

.navbar label{
    font-size: 20px;
    color:white;
    cursor: pointer;
    display: none;
    float: left;
    padding: 17px;
}

@media(max-width:991px){

    .navbar{
        padding: 20;
    }

    .navbar label{
        display: initial;
    }
    
    .navbar .list{
        position: absolute;
        top:100%; left:0; right:0;
        background: hsl(266, 39%, 17%);
        border-top: 1px solid white;
        display: none;
    }

    .navbar .list li{
        width:100%;
    }

    .navbar .dropdown{
        position: relative;
        width:100%;
    }

    .navbar.dropdown li{
        background: hsl(266, 39%, 17%);

    }

    #menu-bar:checked ~ .list{
        display: initial;
    }

    .navbar button{
        width: 65px;
        margin-right: 2px;

    }

    .navbar button a{
        font-size: 0.7em;
    }


    
}
