nav{
    z-index: 10;
}

.sensei-background, .sensei-background > img{
    object-fit: contain;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}
@media (max-width: 1000px) {
    .sensei-background, .sensei-background > img {
        height: 800px;
        object-fit: cover;
    }
}

.mid-words {
    position: absolute;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    
    font-weight: bold;

    z-index: 2;
}
.p1 {
    flex: 1;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.p2 {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 5px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 1000px) {
   .p1 {
        width: 80%;
        margin: 0 auto;
   }
}
@media (min-width: 1000px){
    .p1 {
        width: fit-content;
        margin: 0 auto;
        padding: 0 10px;
    }
    .p2 {
        width: 1000px;
    }
}

.section2 {
    width: 100%;

    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(234, 227, 246);
    background-image: url(gamesenseiimage/lolo.png);
    background-size: 300px;
    background-repeat: repeat;
    background-blend-mode: lighten;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1000px) {
    .section2 {
        padding-bottom: 150px;
    }
}

.benefit {
    width: 600px;
}

.benefit-title {
    color:rgb(36, 18, 65);

    font-size: 45px;
    font-weight: bold;

    text-align: center;
    text-transform: uppercase;

    line-height: 200px;
}
@media (max-width: 1000px) {
    .benefit-title, .benefit {
         width: 80%;
         margin: 0 auto;
    }
 }

.benefit-content {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
}
@media (max-width: 1000px) {
    .benefit-content{
     flex-direction: column;
    }
    .des {
        padding-bottom: 90px;
    }
}


.benefit-1 {
    flex: 1;
    text-align: center;
}
.people-icon{
    color: rgb(36, 11, 94);
    font-size: 45px;
    height: 60px;
    vertical-align: top;

    transition: font 0.5s;
}
.people-icon:hover {
    font-size: 60px;
}
.title{
    margin: 20px auto;
    color: black;
    font-size: 28px;
    text-transform: uppercase;
}
.des{
    width: 300px;
    margin: 0 auto;
    
    color: black;
    font-size: 18px;
    text-transform: capitalize;
}

.pc-icon{
    color: rgb(36, 11, 94);
    font-size: 45px;
    height: 60px;
    vertical-align: top;

    transition: font 0.5s;
}
.pc-icon:hover {
    font-size: 60px;
}
.benefit-2 {
    flex: 1;
    text-align: center;
}

.team-icon{
    color: rgb(36, 11, 94);
    font-size: 45px;
    height: 60px;
    vertical-align: top;

    transition: font 0.5s;
}
.team-icon:hover {
    font-size: 60px;
}
.benefit-3 {
    flex: 1;
    text-align: center;
}

.section3 {
    padding-top: 150px;
    padding-bottom: 40px;
    background-color: rgb(83, 32, 158);

    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.head_p {
    margin-top: 30px;
    margin-bottom: 120px;
    color: rgb(215, 214, 221);
    display: flex;
    justify-content: center;
    align-items: center;
}
.head_p > h1 {
    flex: 1;
    text-transform: uppercase;
}

.sign-up-section {
    height: 1200px;
    /* border: 2px solid white; */
    width: 100%;
    display: flex;
}
.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 700px;
    margin: 0 auto;
}
.bg-container{
    display: flex;

    height: 200px;
    position: relative;
}
.bg {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    opacity: 1.0;
}
.bg-container > .logo {
    width: 150px;
    height: 80px;

    background-color: rgb(45, 20, 67);
    border-radius: 15px;
    border-bottom: 1px solid rgb(152, 114, 202);

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -25px auto;
}
.p-submit{
    color: white;
    margin-top: -20px;
    padding: 40px 30px;
    padding-bottom: 60px;
    background-color: rgb(42, 12, 65);
    text-align: center;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 1px solid rgb(166, 129, 215);
}
.hr1 {
    margin: 0 auto;
    width: 90%;
    border: 1px solid rgb(203, 187, 224);

    z-index: 1;
}


.submit-form {
    margin-top: -10px;
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    color: white;
    background-color: rgb(42, 12, 65);

    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    overflow-y: scroll;

}
.submit-mid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex: 1;

}
@media (max-width: 1000px){
    .sensei-form {
        display: flex;
        flex-wrap: wrap;
    }
}
.name-container {
    flex: 1px;
}

.name-container > input {
    font-size: 18px;
    margin: 10px 0;
    padding: 10px 20px;
    color: white;
    background-color: rgb(103, 53, 164);
    border-radius: 15px;
    border: 2px solid black;
}
.name-container > label {
    font-size: 20px;
    padding-left: 10px;
}
.name-container input::placeholder {
    color: rgb(188, 157, 240);
}


.submit-final {
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    flex: 1;

    color: white;
    background-color: rgb(42, 12, 65);

    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
@media (min-width: 640px) {
    .submit-final {
        width: 615px;
    }
}
.sensei-form2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.name-container-2 {
    display: flex;
}
.name-container-2 > input {
    font-size: 18px;
    margin: 10px 0;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(103, 53, 164);
    border-radius: 15px;
    border: 2px solid black;
}
.name-container-2 > label {
    font-size: 20px;
    padding-left: 10px;
}
#row2 {
    flex: 620px;
}
.name-container-2 input::placeholder {
    color: rgb(188, 157, 240);
}

#row3 {
    flex: 1;
    height: auto;
}

.exp-container {
    display: flex;
}
.exp {
    flex: 1;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 2px;
    border-radius: 15px;

    color: white;
    background-color: rgb(103, 53, 164);
    width: 100%; 
    padding: 10px;
    border: 1px solid #171b87;
    resize: vertical;
}

.submit-final-button {
    color: white;
    background-color: rgb(42, 12, 65);

    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    margin-top: 30px;
    line-height: 30px;
    flex: 1;
    display: flex;
    flex-flow: column wrap;

}

.checkbox-container {
    display: flex ;
}
.checkbox-container  p {
    padding-left: 20px;
}
.checkbox:hover{
    cursor: pointer;
}
.checkbox:checked::before {
    background-color: black;
}
@media (max-width: 1000px){
    .checkbox {
        height: 31px;
    }
}

.submit-button-container {
    margin-top:  30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-width {
    height: 100%;
    width: 80%;
    text-align: center;
}
.submit-button {
    border-radius: 30px;
    height: 100%;
    width: 100%;

    font-size: 20px;
    color: white;
    background-color: rgb(65, 16, 117);
    border: none;
}
.submit-button:hover{
    cursor: pointer;

    background-color: rgb(60, 12, 123);
    /* box-shadow: 2px 2px 8px #5a15af */;
}
.submit-button:active {
    background-color: #5414a2;
}



