@font-face{
    font-family: Skranji ;
    src: url('./font/Skranji/Skranji-Regular.ttf') format('truetype');
}
/*leaderboard css*/

.wrapper{
    position: relative;
    top:200px;
    width: 1200px;
    height: 1000px;
    background-color: rgb(68, 49, 49);
    box-shadow: 0px 0px 10px 10px white;
    border-top: 5px dashed rgb(255, 72, 72);
    border-left: 5px dashed rgb(255, 72, 72);
    border-right: 3px dashed rgba(255, 252, 65, 0.8);
    border-bottom: 3px dashed rgba(255, 252, 65, 0.8);
    margin: 0px auto 250px auto;

}

.wrapper h2{
    position: relative;
    width: 100%;
    height: 100%;
    color: #6be2c4;
    font-family: Skranji ,sans-serif;
    font-size: 80px;
    text-align: center;
    letter-spacing: 10px;
    margin: 0px auto;
}
.wrapper i#award{
    color: yellow;
    padding: 0 40px 0 40px;
}

.wrapper li {
    list-style: none;
}

.lboard_section{
    position: absolute;
    width: 900px;
    height: 550px;
    top:20%;
    left: 10%;
    margin: 0px auto;
    background: hsl(332, 66%, 55%);       /*rgb(249, 79, 98);*/
    box-shadow: 35px -15px 15px  rgb(240, 87, 87);
    border-radius: 5px;
    padding: 20px 30px;

}

.lboard_section ul{
    display: flex;
}

.lboard_section ul li{
    
    margin-right: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #3a3d51;
    cursor: pointer;
}

.lboard_section ul li:hover,
.lboard_section ul li.active{
    color: #fff;
}

.lboard_wrap{                    
    position: absolute;
    top:20%;
    left:3%; 
    background: rgb(245, 186, 25);
    width: 100%;
    height: 100%;
    box-shadow: 15px 15px 15px  rgb(255, 235, 87);
    border-radius: 10px;  
}

.lboard_wrap .lboard_item{
    padding: 25px;
}

.lboard_wrap .lboard_item .lboard_mem{
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ffe773;
}

.lboard_wrap .lboard_item .lboard_mem:first-child{
    padding-top: 0;
}

.lboard_wrap .lboard_item .lboard_mem:last-child{
    border-bottom: 0;
    padding-bottom: 0;  
}

.lboard_wrap .lboard_mem .img{
    width: 140px; 
    height: 75px;
}

.lboard_wrap .lboard_mem .img img{
    display: block;
    width: 100%;
    height: 100%;
}

.lboard_wrap .lboard_item .name_bar{
    margin: 0px 20px;
    width: calc(100% - 200px);
}

.lboard_wrap .lboard_item .name_bar p{
    font-size: 20px;
    color: #DCDCDC;
    text-shadow: 1px 1px 1px #696969,
                 1px 2px 1px #696969,
                 1px 3px 1px #696969,
                 1px 4px 1px #696969,   
         
                 1px 2px 6px rgba(16, 16, 16, 0.5),
                 1px 4px 10px rgba(16, 16, 16, 0.2),
                 1px 6px 35px rgba(16, 16, 16, 0.2),
                 1px 10px 60px rgba(16, 16, 16, 0.5);

}

.lboard_wrap .lboard_item .name_bar p span{
    margin-right: 5px;
}

.lboard_wrap .lboard_item .points{

    font-size: 18px;
    font-weight: bold;
    width: 100px;
    color: #4169E1;                                        /*point color*/

                                   
}

.lboard_wrap .lboard_item .points i{
    color: #0047AB  ; 
    font-weight: bold;  
    text-shadow: none;

                        
}

.lboard_wrap .lboard_item .bar_wrap{
    height: 5px;
    width: 95%;
    background: #d5b000;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.lboard_wrap .lboard_item .bar_wrap .inner_bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media only screen and (max-width:1200px){
    .wrapper{
        width: 968px;
        margin: 0px auto 300px auto;
    }
    .lboard_section{
        width:80%;
       
    }
}

@media only screen and (max-width:968px)
{
    .wrapper{
        width: 690px;
        margin-bottom: 350px;
    }

    .wrapper h2{
    top:20px;
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
    margin: 0px auto;
    }

    .lboard_section{
        width:80%;
       
    }

    .lboard_section ul{
        display: flex;
        flex-flow: column wrap;
    }
    
    .lboard_section ul li{
        
        margin-right: 30px;
        font-size: 15px;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    .lboard_wrap{                    
        position: absolute;
        top:110px;
        
    }
}

@media only screen and (max-width:690px){
   

    .wrapper{
        width:457px;
        height: 900px;
        margin: 0px auto 450px auto;
    }

    .wrapper h2{
        font-size: 40px;
        letter-spacing: 0px;
    }

    .wrapper i#award{
        padding: 0 20px 0 20px;
    }
    .lboard_section{
            top: 100px;
            width:80%;
            box-shadow: none;
    }
    .lboard_wrap .lboard_mem .img{
        width: 120px; 
        height: 65px;
    }

    .lboard_wrap .lboard_item .name_bar p{
        font-size: 14px;
    }
    .lboard_wrap{                    
        top:170px;
        height: 490px;
        left: 0%;
        box-shadow: none;
    }

    .lboard_wrap .lboard_item .bar_wrap{
        display: none;
    }
    .lboard_wrap .lboard_item .bar_wrap .inner_bar{
        display:none;
    }
    .lboard_wrap .lboard_item .points{
        position: absolute;
        right: 10px;
        width: 15%;
        font-size: 15px;
      }
}

@media only screen and (max-width:457px)
{
    .wrapper{
        width: 95%;
        }

    .wrapper h2{
        font-size: 30px;
    }

    .wrapper i#award{
        padding: 0 10px 0 10px;
    }
    
    .lboard_section{
        height: 480px;
        }
          
    .lboard_section ul{
            display: flex;
            flex-flow: column wrap;
        }

        .lboard_wrap{                    
            top:170px;
        }
    
        .lboard_wrap .lboard_mem .img{
            width: 90px;
        }
        .lboard_wrap .lboard_item .name_bar {
            margin: 0 0px;
            margin-left: 5px;
            width: 40%;
        }
        .lboard_wrap .lboard_item .name_bar p{
            font-size: 14px;
        }
      
        .lboard_wrap .lboard_item .points{
          right: 10px;
          width: 15%;
          font-size: 12px;
          
        }


}

@media only screen and (max-width:400px){
    .lboard_section{
        left:5%;
        width: 90%;
         height: 490px;
    }

    .lboard_section ul li{
        font-size: 12px;
    }

    .lboard_wrap{                   
        top:180px;
    }

    .lboard_wrap .lboard_mem .img{
        width: 75px;
    }
    .lboard_wrap .lboard_item .name_bar p{
        font-size: 12px; 
    }
    .lboard_wrap .lboard_item .points{
      font-size: 10px;
    }
}

 