@charset "utf-8";


/* livebottest */


body {
    /* background: rgb(31, 6, 69); */
    background-image: url(gamesenseiimage/8691997.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}
@media only screen and (max-width: 485px) {
    body {
        min-height: 765px;
    }
}

div.first {
    display: flex;
    justify-content: center;
    
    height: max-content;

    /* width: 480px; */
    margin: 0px auto;
    margin-bottom: 400px;
    box-shadow: rgba(255, 255, 255, 0.8) 0 0 90px 33px;
    position: relative;
    top: 180px;

}
div.first::before {
    content: '';
    background-image: url(gamesenseiimage/8691997.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    inset: 0;
    opacity: 0.8;
}

div.first * {
    isolation: isolate;
}

div.second {
    /* display: flex;
    flex-direction: column; */
    margin: 100px 50px;
    width: 900px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 50px 15px #e2f9ff;  /* glowing effect */
    background-color: #ffffff;
}
@media only screen and (max-width: 485px) {
    div.second {
        min-height: 400px;
        min-width: 260px;
    }
}

div.title {
    width: 100%;
}
@media only screen and (max-width: 530px) {
    div.title {
        display: flex;
    }
}
div.title > img {
    width: 30px;
    margin: 10px 5px;
    margin-left: 10px;
    display: inline;
}
@media only screen and (max-width: 530px) {
    div.title > img {
        height: fit-content;
    }
}
div.title h1 {
    font-size: 24px;
    display: inline-block;
    padding-top: 12px;
    vertical-align: top;
}

div.title > .fa-solid {
    display: flex;
    float: right;
    margin: 14px 10px;
    font-size: 22px;   
    display: inline;
}

div.main-chat {
    display: flex;
    flex-direction: column;
    max-height: 256px;

    overflow: scroll;
}
div.left-chat {
    display: flex;
    flex-direction: row;
    width: 100%;

    margin: 15px auto;
}
div.botimg > img {
    margin: 10px;
    margin-top: 50px;
    width: 40px;
    height: 35px;
    border-radius: 30px;
}
div.botmsg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid rgb(187, 217, 255);
    border-radius: 15px;
    padding: 15px;
}
@media only screen and (max-width: 750px) {
    div.botmsg {
        margin-right: auto;
    }
}
div.botinfo {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    justify-content: space-between;
}
div.bottext {
    font-size: 20px;
}

/* seperate */
div.right-chat {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
div.userimg > img {
    margin: 10px;
    margin-top: 50px;
    width: 40px;
    height: 35px;
    border-radius: 30px;
}
div.usermsg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid rgb(187, 217, 255);
    border-radius: 15px;
    padding: 15px;
}
/* @media only screen and (max-width: 750px) {
    div.usermsg {
        
    }
} */
div.userinfo {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    justify-content: space-between;
}
div.usertext {
    display: flex;
    font-size: 20px;
}

div.userform {
    display: flex;
    justify-content: right;
    flex-direction: column;
}
div.userinput {
    margin-top: 15px;
    margin-bottom: 15px;
}

input.userinput {
    border-radius: 8px;
    padding-left: 5px;
    font-size: 22px;
    width: 90%;
    height: 40px;
}
input.userinput::placeholder {
    font-size: 22px;
    color: gray;
}

button.usersubmit {
    background-color: rgb(34, 151, 21);
    color: white;
    font-size: 18px;
    padding: 8px;
    border-style: none;
    border-radius: 4px;
}
button.usersubmit:hover {
    cursor: pointer;
    background-color: rgb(29, 126, 18);
}