
/*for payment css*/
.payment_section {
    margin: 0;
    padding-top: 150px;
    padding-bottom:150px;
    box-sizing: border-box;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.payment_container img{
    padding: 0 80px;
    width: 100%;
    height:125px;
    filter: drop-shadow(0 0 10px #fff);     /*shadow on card*/
}

.payment_container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
    min-height: 100vh;
}

.payment_container form{
    padding: 20px;
    width: 950px;
    background: #639cd9;
    box-shadow: 0 5px 30px 20px rgb(71, 66, 66);
}

.payment_container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.payment_container form .row .col{
    flex: 1 1 150px;
}

.payment_container form .row .col .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.payment_container form .row .col .inputbox {
    margin: 15px 0;
}

.payment_container form .row .col .inputbox span{
    margin-bottom: 5px;
    display: block;
}



.payment_container form .row .col .inputbox input{
    width: 100%;
    background-color: rgba(62, 0, 69, 0.7);
    color: white;
    box-shadow: 0px 0px 10px 5px rgb(0, 247, 255);
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.payment_container form .row .col .inputbox input::placeholder{
    color: rgba(255, 255, 255,0.7);
    font-style: italic;
}


.payment_container form .row .col .inputbox input:focus{
    border:1px solid #000;

}

.payment_container form .row .col .inputbox_left {
    margin: 25px 0;
}

.payment_container form .row .col .inputbox_left span{
    margin-bottom: 17px;
    display: block;
}



.payment_container form .row .col .inputbox_left input{
    width: 100%;
    background-color: rgba(62, 0, 69, 0.7);
    color: white;   
    box-shadow: 0px 0px 10px 5px rgb(0, 247, 255);
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.payment_container form .row .col .inputbox_left input::placeholder{
    color: rgba(255, 255, 255,0.7);
    font-style: italic;
}

.payment_container form .row .col .inputbox_left input:focus{
    border:2px solid #000;

}

.payment_container form .row .col .inputbox_select {
    margin: 15px 0px;
}

.payment_container form .row .col .inputbox_select span{
    margin-top: 20px;
    margin-bottom: 15px;
    display: block;
}



.payment_container form .row .col .inputbox_select input{
    
    border: 1px solid #ccc;
    margin-right: 40px;
    text-transform: none;
}

.payment_container form .row .col .inputbox_select label{
    padding: 0;
    margin:0;
}


.payment_container form .row .col .flex{
    display: flex;
    gap:15px;
}

.payment_container form .row .col .flex .inputbox{
    margin-top: 5px;
    width: 50%;
}


.payment_container form .formprocess{
    width:100%;
}
.payment_container form .checkout_btn{
    
    width: 43%;
    padding: 10px;
    font-size: 20px;
    color:rgb(34, 100, 47); 
    /* rgb(1, 134, 81) */
    font-weight: 700;
    font-variant: small-caps;
    background: #8fb1e9;
    box-shadow: 9px 7px 5px rgb(73, 66, 66);
    margin: 30px;
    justify-content: center;
    cursor: pointer;
}
.payment_container form .reset_btn{
    width: 43%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color:rgb(145, 10, 10);
    font-weight: 700;
    font-variant: small-caps;
    margin: 30px;
    background: rgba(48, 51, 86,0.7 );
    box-shadow: 9px 7px 5px rgb(73, 66, 66);
}

.payment_container form .checkout_btn:hover{
    background-color: #857ebb;
    color:rgb(3, 225, 48); 
}
.payment_container form .reset_btn:hover{
    background-color:rgb(48, 51, 86);
    color: red;
}

input:focus{
    background-color: rgb(255, 255, 180);
}

input:focus:valid,input#diamondInput:focus,input#paymentInput:focus{
    background: rgba(62, 0, 69, 0.7) url(wz_image/tick.png) right/contain no-repeat;
}

input:focus:invalid{
    background: rgb(255, 230, 230) url(wz_image/warning.png) right/contain no-repeat;
}
input#paynum:focus:valid,input#expirydate:focus:valid,input#diamond:focus:valid{
    background: rgb(220, 255, 220) url(wz_image/tick.png) 370px/contain no-repeat;
}
input#paynum:focus:invalid,input#expirydate:focus:invalid,input#diamond:focus:invalid{
    background: rgb(255, 230, 230) url(wz_image/warning.png) 370px/contain no-repeat;
}
input#submit:focus,input#submit:focus:valid,input#submit:focus:invalid{
    background-image: none;
}
@media only screen and (max-width:1000px)
{
    .payment_container form .checkout_btn{
        padding: 10px;
        font-size: 20px;
        margin: 10px 20px;
    }
    .payment_container form .reset_btn{
        padding: 10px;
        margin: 10px 20px;
    }
    
    .payment_container img{
        width: 100%;
       
    }
}
@media only screen and (max-width:705px)
{
    .payment_container form .checkout_btn{
        width: 40%;
        margin: 10px 20px;
    }
    .payment_container form .reset_btn{
        width: 40%;
        margin: 10px 20px;
    }
    .payment_container form .row .col .inputbox_select input{
        margin-right: 0px;
    }
}
@media only screen and (max-width:545px)
{
    .payment_container form .checkout_btn{
        width: 70%;
        margin: 10px 50px;
    }
    .payment_container form .reset_btn{
        width: 70%;
        margin: 10px 50px;
    }
    .payment_section {
        margin: 0;
        padding-top: 200px;
        padding-bottom:200px;
    }
    .payment_container img{
        width:390px;
        justify-content: center;
    }

    .payment_container form .row .col .inputbox_select input{
        margin-right: 80px;
    }
}

@media only screen and (max-width:450px)
{
    
    .payment_container img{
        width:310px;
        justify-content: center;
    }
    .payment_container form .row .col .inputbox_select input{
        margin-right: 40px;
    }
}

@media only screen and (max-width:350px)
{
    .payment_container img{
        width:260px;
        justify-content: center;
    }
    .payment_container form .row .col .inputbox_select input{
        margin-right: 20px;
    }
}

