@charset "utf-8";
@font-face {
    font-family: "Opensans";
    src: url('./font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf')format('ttf');
    src: url('./font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf')format('ttf');
}
*{
    margin: 0;
    padding: 0;
    font-family: Opensans, Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;          /*scroll bar on the rhs will be invisible*/
}

html{
    height: 100%;

}
body{
    position: relative;
    min-height: 100%;
    margin: 0;
    background-color: hsl(252, 48%, 37%);
    padding-bottom: 210px;
    z-index: 1;
}

.logo{
    width: 100px;
    float: left;
    display: inline;
    margin-top: 5px;

}

/* navbar */
nav{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: hsl(266, 39%, 17%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}


.navbar>ul{
    list-style-type: none;
    background-color: hsl(266, 39%, 17%);
    padding: 0;
    margin: 0;
    float: left;
}

.list li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: left;
    font-size: 0.9em;
    font-family: Opensans, Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.list>li>a:hover{
    background-color: hsl(266, 20%, 10%);

}

.navbar>ul>li{
    float: left;
    
}


/* dropdown */
.navbar .dropdown{
    display: block;
    list-style-type: none;
    width: 150px;
    background: hsl(266, 39%, 17%);
    position: absolute;
    z-index: 2;
    display: none;

}

.navbar .dropdown li{
    border-top: 1px solid rgba(169, 165, 165, 0.9);
}

.navbar .dropdown li a{
    text-align: left;
}

.list li:hover .dropdown{
    display:block;
}

/* login*/
.navbar button{
    display: block;
    float:right;
    background-color: hsl(332, 66%, 55%);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px

}
.navbar button:hover{
    background-color: hsl(332, 80%, 60%);
}

.navbar button a{
    text-decoration: none;
    color: hsl(266, 39%, 17%);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu-bar{
    display:none
}

.navbar label{
    font-size: 20px;
    color:white;
    cursor: pointer;
    display: none;
    float: left;
    padding: 17px;
}

/* footer */
footer{
    background-color: hsl(266, 39%, 17%);
    position: absolute;  
    width: 100%;
    overflow: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
}

footer .container{
    margin-left: auto;
    margin-right: auto;
}
.footer img{
    width: 200px;
    padding: 7px 30px;
    display: inline;
    float: left;
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
   width: 15%;
   padding: 7px 15px;
}

.footer h4{
color: white;
font-size: 1.2em;
}

.footer ul{
    list-style-type: none;
    margin-top: 5px;
}

.footer ul li{
    margin-top: 15px;
}

.footer ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.4s ease;
    font-size: 0.9em;
    
}

.footer ul li a:hover{
    color: hwb(6 45% 9%);
    padding-left: 8px;
}

.footer .icon i{
    color: white;
    font-size: 2em;
    margin: 7px 18px;
    transition: all 0.4s;
}

.footer .icon i:hover{
    color: hwb(6 45% 9%);
}

.footer p{
    color: white;
    font-size: 0.6em;
    float: right;
}

/* responsive */
@media(max-width:991px){

    .navbar{
        padding: 20;
    }

    .navbar label{
        display: initial;
    }
    
    .navbar .list{
        position: absolute;
        top:100%; left:0; right:0;
        background: hsl(266, 39%, 17%);
        border-top: 1px solid white;
        display: none;
    }

    .navbar .list li{
        width:100%;
    }

    .navbar .dropdown{
        position: relative;
        width:100%;
    }

    .navbar.dropdown li{
        background: hsl(266, 39%, 17%);

    }

    #menu-bar:checked ~ .list{
        display: initial;
    }

    .navbar button{
        width: 65px;
        margin-right: 2px;

    }

    .navbar button a{
        font-size: 0.8em;
    }

    .register{
        overflow: scroll; 
    }
    
    .footer{
        min-width: 100%;
        padding: 0;
        margin: 0;
    }
    .footer .footer-col{
        width: 30%;
        margin-bottom: 30px;
        max-height: 205px;
    }

}

@media(max-width: 574px){
    .footer img{
        display: none;
       }
  }

/*for payment css*/
.payment_section {
    margin: 0;
    padding-top: 5%;
    padding-bottom:10%;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.payment_container img{
    width:450px;
    height:121px;
    margin-top: 5px;
    filter: drop-shadow(0 0 5px #000);
}

.payment_container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
    min-height: 100vh;
}

.payment_container form{
    padding: 20px;
    width: 950px;
    background: #639cd9;
    box-shadow: 0 5px 10px rgba(0, 0, 0 , 1);
}

.payment_container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.payment_container form .row .col{
    flex: 1 1 150px;
}

.payment_container form .row .col .title{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.payment_container form .row .col .inputbox {
    margin: 15px 0;
}

.payment_container form .row .col .inputbox span{
    margin-bottom: 5px;
    display: block;
}



.payment_container form .row .col .inputbox input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.payment_container form .row .col .inputbox input:focus{
    border:1px solid #000;

}

.payment_container form .row .col .inputbox_left {
    margin: 25px 0;
}

.payment_container form .row .col .inputbox_left span{
    margin-bottom: 10px;
    display: block;
}



.payment_container form .row .col .inputbox_left input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin-bottom:2px;
    font-size: 15px;
    text-transform: none;
}

.payment_container form .row .col .inputbox_left input:focus{
    border:1px solid #000;

}

.payment_container form .row .col .inputbox_select {
    margin: 15px 0px;
}

.payment_container form .row .col .inputbox_select span{
    margin-top: 20px;
    margin-bottom: 15px;
    display: block;
}



.payment_container form .row .col .inputbox_select input{
    width: 10%;
    border: 1px solid #ccc;
    margin-right: 50px;
    font-size: 15px;
    text-transform: none;
}

.payment_container form .row .col .inputbox_select label{
    padding: 0;
    margin:0;
}


.payment_container form .row .col .flex{
    display: flex;
    gap:15px;
}

.payment_container form .row .col .flex .inputbox{
    margin-top: 5px;
    width: 50%;
}

.payment_container form .checkout_btn{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #8fb1e9;
    color: #000;
    margin-top: 20px;
    justify-content: center;
    cursor: pointer;
}

.payment_container form .checkout_btn:hover{
    background: #857ebb;
}