body{
    background-color: hsl(252, 48%, 37%);
 }
 .wrapper{
    border: 1px solid red;
    background-color: #ffffff;
    position: relative;
    width: 60%;
    min-height: 25em;
    border-radius: 0.6em;
    margin:0 auto;
    box-shadow: 2px 2px 2px rgba(1, 17, 39, 0.15);
    display: flex;
 }

 .testimonial_container{

    border: 1px solid blue;
    width: 100%;
    height: 85%;

    margin: 0 auto;               /*horizontally and vertically centered*/
    padding: 2% 7%;
 }

.wrapper button{
    font-size: 30px;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    color: blue;
    box-shadow: 0 0 14px rgba(1, 17, 39, 0.25);
    cursor: pointer;
    border-radius: 50%;
}

button#prev{
    left: -25px;
    opacity: 0.7;
}

button#next{
    right:-25px;
    opacity: 0.7;
}

.testimonial_container p{
    border: 1px solid red;
    color: #8c8c90;
    text-align: center;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.2px;

}

.testimonial_container img{
    border: 1px solid black;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.testimonial_container h3{
    
    color: #2d3d67;
    font-size: 18px;
    text-align: center;
    margin-bottom: 2px;
}

.testimonial_container h6{
   
    color: #bcc4da;
    margin-top: 0px;
    font-size: 16px;
    letter-spacing: 0.3px;
    font-weight: 400;
    text-align: center;
}

@media only screen and (max-width: 850px)
{
    .testimonial_container p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 620px)
{
    .testimonial_container img{
        width: 100px;
        height: 100px;
    }
    .testimonial_container h3{
        font-size: 16px;
    }
    .testimonial_container h6{
        font-size: 14px;
    }
}

@media only screen and (max-width: 465px)
{
    .wrapper{
        width: 75%;
    }
    .testimonial_container p{
        font-size: 12px;
        margin-bottom: 30px;
    }
}