@font-face{
    font-family: Exo;
    src: url('./font/Exo/Exo-VariableFont_wght.ttf') format('truetype');
   
}


 .table_data {
    position: relative;
    padding-top: 20px;
   margin-left: auto;
   margin-right: auto;
    width: 320px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_data h1{
    font-size: 70px;
    padding-top: 75px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 0 10px #00b3ff,
                 0 0 20px #00b3ff,
                 0 0 40px #00b3ff,
                 0 0 120px #00b3ff;
}

.lightbar{

    position: absolute;
    top: 90px;
    left: 0;
    width: 2px;
    height: 120px;
    border-radius: 10px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 10px #00b3ff,
                 0 0 20px #00b3ff,
                 0 0 40px #00b3ff,
                 0 0 120px #00b3ff;
    animation: animatelightbar 2.5s linear infinite;
}

@keyframes animatelightbar{
    0%,5%
    {
        transform: scaleY(0) translateX(0);
    }
    10%
    {
        transform: scaleY(1) translateX(0);
    }
    88%
    {
        transform: scaleY(1) translateX(calc(320px - 10px));
    }
    95%,100%
    {
        transform: scaleY(0) translateX(calc(320px - 10px));
    }
}
/*invisible horizontal line at the left (0% to 5% of the animation), expand vertically while staying at the same horizontal position (10% of the animation), move horizontally to the right (88% of the animation), and then disappear by shrinking vertically while still maintaining its position (95% to 100% of the animation). */

.toplayer{                       /*work like curtain, display and hide the "Top Up"*/ 
   
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 120px;
    background: hsl(252, 48%, 37%);
    animation: animatetoplayer 5s linear infinite;
} 

 @keyframes animatetoplayer{
    0%,2.5%
    {
        transform: translateX(0);
    }
    5%
    {
        transform: translateX(0);
    }
    45%
    {
        transform: translateX(100%);
    }
    47.5%,50%
    {
        transform: translateX(100%);
    }
    50.001%,52.5%
    {
        transform: translateX(-100%);
    }
    55%
    {
        transform: translateX(-100%);
    }
    95%
    {
        transform: translateX(0%);
    }
    97.5%,100%
    {
        transform: translateX(0%);
    }
}





/*diamond num section*/
 .diamond_num{
    width: 600px;
    padding-bottom: 50px;
    position: relative;
    top: 150px;
    left: 13%;
}

.diamond_num img{
    width: 50px;
    height:50px;
}


.diamond_num h5{
    font-size: 20px;
    color: #e0ab5b;
}

.table_container{
    width: 100%;
    padding: 150px 0px;
   
}

.table{
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    border: 3px dashed #eef679d0;
}

.table thead tr th{
    font-family: Exo ,sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #ffe2ad;
    background: #3c466b;
    letter-spacing: 1.5px;
    padding: 20px;
    justify-content: center;
    align-content: center;
    border: 3px solid  #f7fe9dd0;
}

.table tbody tr td{
  
    font-family: Exo, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffe2ad;
    background: #596587;
    letter-spacing: 0.5px;
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid  #dfe584d0;
    border-right:1px solid  #dfe584d0 ;
}

.table thead tr th img{
    margin-left: 25px;
    width: 25px;
    height:25px;
}

.table tbody tr td img{
    margin-left: 15px;
    max-width: 25px;
    max-height:25px;
}

.table tbody tr td .pay_btn{
    width: 150px;
    color: #ffe2ad;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    font-weight: medium;
    text-align: center;
    vertical-align: middle;
    user-select:none;
    font-size: 14px;
    opacity:1;
}

.table tbody tr td a{
    position: relative;
    color: #fff;
    background-color: #fff;
    text-transform: uppercase;
    transition: 1s;
}

.table tbody tr td a:hover{
    background: #00ff00; 
     color: #00ff00;              /*word PROCEED also chg to color code of --clr */
     letter-spacing:2px;
    box-shadow: 0 0 20px #00ff00;
}

.table tbody tr td a::before{       /*Proceed box color*/
    content: '';
    position: absolute;
    inset: 2px;
    background:#3e3245 ;

}


.table tbody tr td a span{
    position: relative;
    
}

.table tbody tr td a i{
    position: absolute;
    inset: 0;
    display: block;
    
}

.table tbody tr td a i::before{         /*top part of the proceed*/
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 15px;
    height: 4px;
    background: #27282c;
    transition: 1s;
}

.table tbody tr td a:hover i::before{  /*top part of the proceed (hover)*/
    width: 20px;
    left: 25%;
}

.table tbody tr td a i::after{          /*bottom part of the proceed */
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 15px;
    height: 4px;
    background: #27282c;
    transition: 1s;
}

.table tbody tr td a:hover i::after{     /*bottom part of the proceed (hover)*/
    width: 20px;
    left: 75%;
}

@media (max-width : 768px){

    .table_data {
      
        width: 220px;
        height: 200px;
    }
    .table_data h1{
        font-size: 50px;
    }

    .diamond_num{
        width: 400px;
     
    }

    .table thead{
        display:none;
    }

    .table{
        width: 90%;
    }

    .table tbody, .table tr, .table td{
        display: block;
        width:100%;
    }
  

    .table tr{
       margin-bottom: 15px;                          
    }

    .table tbody tr td{
        position: relative;
        text-align: right;
       
      
    }

    .lightbar{
   
        top: 100px;
        left: 0;
        width: 5px;
        height:55%;
        border-radius: 10px;
        background: #fff;
        z-index: 1;
        box-shadow: 0 0 10px #00b3ff,
                     0 0 20px #00b3ff,
                     0 0 40px #00b3ff,
                     0 0 120px #00b3ff;
        animation: animatelightbar 2.5s linear infinite;
    }

    @keyframes animatelightbar{
        0%,5%
        {
            transform: scaleY(0) translateX(0);
        }
        10%
        {
            transform: scaleY(1) translateX(0);
        }
        90%
        {
            transform: scaleY(1) translateX(calc(220px - 10px));
        }
        95%,100%
        {
            transform: scaleY(0) translateX(calc(220px - 10px));
        }
    }

    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
}

@media only screen and (max-width:499px)
{
    .table_data {
        top:70px;
        width: 140px;
        height: 200px;
    }

    .diamond_num{
        width: 250px;

    }
    .diamond_num h5{
        font-size: 13px;
    }

    .table_container{
        width: 100%;
        padding: 150px 0px;
        margin: 0 auto;
    }

    .table_data h1{
        font-size: 30px;
    }

    @keyframes animatelightbar{
        0%,5%
        {
            transform: scaleY(0) translateX(0);
        }
        10%
        {
            transform: scaleY(1) translateX(0);
        }
        90%
        {
            transform: scaleY(1) translateX(calc(140px - 10px));
        }
        95%,100%
        {
            transform: scaleY(0) translateX(calc(140px - 10px));
        }
    }
}
