@charset "utf-8";
@font-face {
    font-family: "Opensans";
    src: url('./font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf')format('ttf');
    src: url('./font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf')format('ttf');
}

@font-face {
    font-family: "Opensans";
    src: url('./font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf')format('ttf');
    src: url('./font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf')format('ttf');
}
*{
    margin: 0;
    padding: 0;
    font-family: Opensans, Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}

html{
    height: 100%;

}
body{
    position: relative;
    min-height: 100%;
    margin: 0;
    background-color: hsl(252, 48%, 37%);
    padding-bottom: 210px;
    z-index: 1;
}

.logo{
    width: 100px;
    float: left;
    display: inline;
    margin-top: 5px;

}

/* navbar */
nav{
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: hsl(266, 39%, 17%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}


.navbar>ul{
    list-style-type: none;
    background-color: hsl(266, 39%, 17%);
    padding: 0;
    margin: 0;
    float: left;
}

.list li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: left;
    font-size: 0.9em;
    font-family: Opensans, Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.list>li>a:hover{
    background-color: hsl(266, 20%, 10%);

}

.navbar>ul>li{
    float: left;
    
}


/* dropdown */
.navbar .dropdown{
    list-style-type: none;
    width: 150px;
    background: hsl(266, 39%, 17%);
    position: absolute;
    z-index: 2;
    display: none;
}

.navbar .dropdown li{
    border-top: 1px solid rgba(169, 165, 165, 0.9);
}

.navbar .dropdown li a{
    text-align: left;
}

.list li:hover .dropdown{
    display:block;
}

/* login*/
.navbar button{
    display: block;
    float:right;
    background-color: hsl(332, 66%, 55%);
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px

}
.navbar button:hover{
    background-color: hsl(332, 80%, 60%);
}

.navbar button a{
    text-decoration: none;
    color: hsl(266, 39%, 17%);
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu-bar{
    display:none
}

.navbar label{
    font-size: 20px;
    color:white;
    cursor: pointer;
    display: none;
    float: left;
    padding: 17px;
}

.navbar .userLogin{
    display: none;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3em;
    color: white;
}


.navbar .userLogin .dropdown{
    display: none;
    list-style-type: none;
    width: 110px;
    background: hsl(266, 39%, 17%);
    position: absolute;
    z-index: 2;
    margin-top: 10px;
}

.navbar .userLogin .dropdown li{
    border-top: 1px solid rgba(169, 165, 165, 0.9);
    height: 40px;
    text-align: left;
    margin: 0;
    cursor: pointer;
}

.navbar .userLogin .dropdown li a{
    text-align: left;
    color: white;
    font-size: 0.8em;
    text-decoration: none;
    margin: 2px 5px;
}

.navbar .userLogin:hover .dropdown{
    display:block;
}

/* footer */
footer{
    background-color: hsl(266, 39%, 17%);
    position: absolute;  
    width: 100%;
    overflow: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
}

footer .container{
    margin-left: auto;
    margin-right: auto;
}
.footer img{
    width: 200px;
    padding: 7px 30px;
    display: inline;
    float: left;
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
   width: 15%;
   padding: 7px 15px;
}

.footer h4{
color: white;
font-size: 1.2em;
}

.footer ul{
    list-style-type: none;
    margin-top: 5px;
}

.footer ul li{
    margin-top: 15px;
}

.footer ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.4s ease;
    font-size: 0.9em;
    
}

.footer ul li a:hover{
    color: hwb(6 45% 9%);
    padding-left: 8px;
}

.footer .icon i{
    color: white;
    font-size: 2em;
    margin: 7px 18px;
    transition: all 0.4s;
}

.footer .icon i:hover{
    color: hwb(6 45% 9%);
}

.footer p{
    color: white;
    font-size: 0.6em;
    float: right;
}

/* responsive */
@media(max-width:991px){

    .navbar{
        padding: 20;
    }

    .navbar label{
        display: initial;
    }
    
    .navbar .list{
        position: absolute;
        top:100%; left:0; right:0;
        background: hsl(266, 39%, 17%);
        border-top: 1px solid white;
        display: none;
    }

    .navbar .list li{
        width:100%;
    }

    .navbar .dropdown{
        position: relative;
        width:100%;
    }

    .navbar.dropdown li{
        background: hsl(266, 39%, 17%);

    }

    #menu-bar:checked ~ .list{
        display: initial;
    }

    .navbar button{
        width: 65px;
        margin-right: 2px;

    }

    .navbar button a{
        font-size: 0.8em;
    }

    .register{
        max-width: 100%;
    }

    
    .footer{
        min-width: 100%;
        padding: 0;
        margin: 0;
    }
    .footer .footer-col{
        width: 30%;
        margin-bottom: 30px;
        max-height: 205px;
    }

}

@media(max-width: 574px){
    .footer img{
        display: none;
    }
    
    .footer .icon i{
    font-size:1.2em;
    margin-left: 5px;
    }

    .footer .icon{
    margin-left: 10px;
    margin-top: 40px;
    height: 40px;
    }

   
}


/*FAVORITE css starts here*/

body {
    background: #2a1b3d;
}

.top {
    padding-top: 8%;
    margin-left: 11%;
}

@media (max-width: 540px) {
    .top {
        padding-top: 20%;
    }
}

.favhead {
    padding-bottom: 1%;
    color: white;
}

h1.biggesttext {
    font-size: 550%;
    padding-top: 1%;
    margin-bottom: 5.0%;
    color: rgb(255, 255, 255);
}

@media (max-width: 650px) {
    h1.biggesttext {
        font-size: 400%;
    }
}

@media (max-width: 540px) {
    h1.biggesttext {
        font-size: 230%;
    }
}

@media (max-width: 370px) {
    h1.biggesttext {
        padding-top: 20%;
    }
}

h2.custfav{
    font-size: 150%;
    font-weight: bold;
    margin-bottom: -0.01%;
    color: rgb(250, 209, 248);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-left: 1%;
    margin-right: 10%;
}

#usersearch {
    width: 22%;
    font-size: 100%;
    font-weight: bold;
    padding: 5px, 5px, 5px, 5px;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 67%;
    max-width: 30%;
    background-color:rgb(59, 57, 57);
}

@media (max-width: 350px) {
    #usersearch {
        font-size: 80%;
    }
}

#buttonbox {
    display: flex;
    text-align: center;
}

#buttonbox > * {
    flex: 1;
    white-space: nowrap;
    max-width: 13%; 
}

.bottom{
    overflow-y: auto;
}

.button {
    border: none;
    padding: 8px 15px 8px 8px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    font-size: 100%;
    min-width: 18%;
    min-height: 18%;
}

@media (max-width: 710px) {
    .button {
        font-size: 50%;
    }
}


.button:hover {
    background-color: #ae03b4;
    color: black;
}

.button.active {
    background: #00bb1f;
    color: white;
}

#FAVS {
    width: 100%;
    padding-left: 10%;
    background: rgba(5, 5, 5, 0.01);
    padding-bottom: 100px;
}

@media (max-width: 1000px) {
    #FAVS {
        padding-bottom: 20%;
    }
}

@media (max-width: 809px) {
    #FAVS {
        padding-bottom: 30%;
    }
}

@media (max-width: 600px) {
    #FAVS {
        padding-bottom: 40%;
    }
}

#FAVS li span {
    margin-left: 1.5%;
    margin-right: 10%;
    padding-left: 3%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 20%; 
    color: rgb(255, 255, 255);
    display: block;
    opacity: 100%;
}

@media (max-width: 360px) {
    #FAVS li span {
        font-size: 20%;
    }
}

#FAVS li span:hover:not(.header) {
    opacity: 60%;
}

.section {
    display: none; 
    margin-bottom: 0.5%;
}

.show {
    display: block;
    font-size: 100px;
}

.favname {
    font-weight: bold;
    background: rgb(63, 58, 58);
}

.icon {
    width: 23%;
    height: 23%;
    margin-right: 15%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: white;
}